button{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(5, 151, 156);
    font-size: 100px;
    border-left: 0;
    border-top: 0;
}

.btJogo2{
    border-bottom: 0;
}

#bt02, #bt12, #bt22{
    border-right: 0;
}

button:disabled{
    border-color: black;
}
h1{
    color: rgb(0, 117, 153);
    background-color: rgb(0, 204, 255);
    padding: 10px 60px;
    text-align: center;
}
*{
    background-color: rgb(5, 151, 156);
}
